/* All buttons share these generic styles */
@mixin button-defaults($border-radius: 4px, $secondary-image: none) {
	-webkit-appearance: none;
	-webkit-box-align: center;
	@include box-sizing(border-box);
	@include box-shadow(rgba(0,0,0,.2) 0 2px 3px);
	@include text-shadow(rgba(0,0,0,.08) 0 -1px 0, rgba(255,255,255,1) 0 1px 0);
	display: inline-block;
	font-family: $font-family;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	@include transition-property(border);
	@include transition-property(text-shadow);
	@include transition-duration(.3s);
	@include border-radius($border-radius);
	font-size: calc-em(13px, $base-font-size);
	line-height: calc-em(18px, 13px);
	
	border: {
		width: 1px;
		style: solid;
		top: {
			color: darken(#fff, 15%);
		}                        
		right: {                 
			color: darken(#fff, 20%);
		}                        
		bottom: {                
			color: darken(#eeeeee, 20%);
		}                        
		left: {                  
			color: darken(#fff, 20%);
		}
	}
	
	@if $secondary-image != 'none' {
      padding: .5em 1.25em .5em 2.4em;
      @include background($secondary-image, linear-gradient(#ffffff #eeeeee));
  } @else {
    padding: .5em 1.25em;
    @include background-image(linear-gradient(#ffffff #eeeeee));
  }
  
	&:active {
		top: 1px;
		@include box-shadow(inset rgba(255,255,255,.1) 0 2px 0);
	}
}

@mixin submit-button($secondary-image: none) {
  
  @if $secondary-image != 'none' {
      @include button-defaults($secondary-image);
      padding: .5em 1.25em .5em 2.4em;
      @include background($secondary-image, linear-gradient(#4096ee #3277BC));
  } @else {
    @include button-defaults;
    padding: .5em 1.25em;
    @include background-image(linear-gradient(#4096ee #3277BC));
  }
  color: #FFF;
  border: {
    style: solid;
    width: 1px;
    top: {
      color: darken(#4096ee, 5%);
    }
    right: {
      color: darken(#4096ee, 8%);
    }
    bottom: {
      color: darken(#3277BC, 5%);
    }
    left: {
      color: darken(#4096ee, 8%);
    }
  }
  @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
  @include box-shadow(inset rgba(255,255,255, .3) 0 1px 0, rgba(0,0,0,.2) 0 2px 3px);
}

@mixin successful-button($secondary-image: none) {
	@if $secondary-image != 'none' {
    @include button-defaults($secondary-image);
  	@include background($secondary-image, linear-gradient(#37AA11 #29840c));
  } @else {
    @include button-defaults;
  	@include background-image(linear-gradient(#37AA11 #29840c));
  }
  color: #FFF;
  border: {
		width: 1px;
		style: solid;
		top: {
			color: darken(#37AA11, 5%);
		}                        
		right: {                 
			color: darken(#37AA11, 8%);
		}                        
		bottom: {                
			color: darken(#29840c, 5%);
		}                        
		left: {                  
			color: darken(#37AA11, 8%);
		}
	}
  @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
  @include box-shadow(inset rgba(255,255,255, .3) 0 1px 0, rgba(0,0,0,.2) 0 2px 3px);
}

@mixin warning-button($secondary-image: none) {
	@if $secondary-image != 'none' {
    @include button-defaults($secondary-image);
    @include background($secondary-image, linear-gradient(#ff3019 #d60404));
  } @else {
    @include button-defaults;
    @include background-image(linear-gradient(#ff3019 #d60404));
  }
  color: #FFF;
  border: {
		width: 1px;
		style: solid;
		top: {
			color: darken(#ff3019, 5%);
		}                        
		right: {                 
			color: darken(#ff3019, 8%);
		}                        
		bottom: {                
			color: darken(#d60404, 5%);
		}                        
		left: {                  
			color: darken(#ff3019, 8%);
		}
	}
  @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
  @include box-shadow(inset rgba(255,255,255, .3) 0 1px 0, rgba(0,0,0,.2) 0 2px 3px);
}

@mixin ie-buttonify($width, $height, $image-location) {
	display: block;
	border: none;
	width: $width;
	height: $height;
	text-indent: -9999px;
	@include background(image-url($image-location) no-repeat top left);
}


