@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

@mixin center-container($container-width)  {
  max-width:  $blueprint-liquid-container-max-width;
  width:  (percentage($container-width / $blueprint-liquid-container-max-width)) - ($blueprint-liquid-grid-margin * 2);
  padding: 0 ($blueprint-liquid-grid-margin);
  margin: 0 auto;
}

@mixin replace-text($width, $height, $background-details) {
  text-indent: -9999px;
  display: block;
  width: $width;
  height: $height;
  @include background($background-details);
}

/* One-true layout hack for equal height columns */
@mixin equalize-column {
	margin-bottom: -99999px;
	padding-bottom: 99999px; 
}